# Git
.git
.gitignore
.gitattributes

# Node / front-end
node_modules
npm-debug.log*
yarn.lock
pnpm-lock.yaml
dist
build
.cache
.next
out
coverage

# Python
__pycache__/
*.py[cod]
.venv
venv

# PHP / Composer
vendor
composer.lock
composer.phar

# IDE / SO / editor
.vscode
.idea
*.swp
.DS_Store
Thumbs.db

# Logs e temporários
*.log
logs
storage/logs
tmp
temp
.cache
*.pid

# Arquivos sensíveis
.env
.env.*
docker-compose.override.yml

# Tests/artifacts
.jest
phpunit.xml.cache

# Docker
docker-compose.yml
Dockerfile
!.docker/
